---
order: 3
tags: module
---

{% from "macros/heading.njk" import heading %}
{% from "macros/under-development-alert.njk" import underDevelopmentAlert %}

\{{ underDevelopmentAlert() }}

\{{ heading(title) }}

{{#each categories}}
<section class="block w-full mb-6">
    <h2 class="heading-3 mb-4">
        {{this.name}}
    </h2>

    <ul class="grid-responsive">
        {{#each this.items}}
        <li class="flex items-center text-start gap-2">
            <span class="tag tag-{{this.type}}" title="{{this.type}}">
                {{firstLetter this.type}}
            </span>

            <a href="{{this.href}}" class="prose prose-sm">
                {{this.name}}
            </a>
        </li>
        {{/each}}
    </ul>
</section>

{{/each}}
