{% from "macros/under-development-alert.njk" import underDevelopmentAlert %}

\{{ underDevelopmentAlert() }}

<ul class="flex items-center gap-1 text-xs text-neutral-400">
    <li class="hover:underline">
        <a href="javascript:history.back()">API Reference</a>
    </li>
    &gt;
    <li class="hover:underline">
        <a href=".">{{this.name}}</a>
    </li>
</ul>

<div class="flex items-center justify-start gap-2 mb-10">
    <h1 class="heading-2">
        {{ this.name }}
    </h1>

    <span class="tag tag-function">
        FUNCTION
    </span>

    <a class="mis-auto material-icons" target="_blank" href="\{{ github }}/{{ this.path }}#L{{ this.line }}">
        code
    </a>
</div>

{{#if this.description}}
<section class="pt-6 mb-10">
    <h2 class="heading-3">
        Description
    </h2>

    <div class="block text w-full mt-4">
        {{markdownToHTML this.description}}
    </div>
</section>
{{/if}}

{{#if this.signature}}
<section class="pt-6 mb-10">
    <h2 class="heading-3">
        Signature
    </h2>

    <p class="block w-full mt-4">
        {% highlight "ts" %}
        {{ this.signature }}
        {% endhighlight %}
    </p>
</section>
{{/if}}

{{#if this.parameters.length}}
<section class="pt-6 mb-10">
    <h2 class="heading-3">
        Parameters
    </h2>

    <table class="table-standalone mt-4">
        <thead>
            <tr>
                <th class="w-[20%]">Name</th>
                <th class="w-[30%]">Type</th>
                <th class="w-[20%]">Default</th>
                <th class="w-[30%]">Description</th>
            </tr>
        </thead>

        <tbody>
            {{#each this.parameters}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{typeWithReference this.type}}</td>
                <td><code class="code code-accent">{{this.default}}</code></td>
                <td>{{markdownToHTML this.description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
{{/if}}

{{#if this.returnType}}
<section class="pt-6 mb-10">
    <h2 class="heading-3">
        Returns
    </h2>

    <div class="flex items-start gap-2 mt-4">
        <span class="shrink-0">{{typeWithReference this.returnType}}:</span>
        <span class="text leading-relaxed">{{markdownToHTML this.returnType.description}}</span>
    </div>
</section>
{{/if}}
