{% from "macros/under-development-alert.njk" import underDevelopmentAlert %}

\{{ underDevelopmentAlert() }}

<ul class="flex items-center gap-1 text-xs text-neutral-400">
    <li class="hover:underline">
        <a href="javascript:history.back()">API Reference</a>
    </li>
    &gt;
    <li class="hover:underline">
        <a href=".">{{this.name}}</a>
    </li>
</ul>

<div class="flex items-center justify-start gap-2 mb-10">
    <h1 class="heading-2">
        {{ this.name }}
    </h1>

    <span class="tag tag-typealias">
        TYPE-ALIAS
    </span>

    <a class="mis-auto material-icons" target="_blank" href="\{{ github }}/{{ this.path }}">
        code
    </a>
</div>

{{#if this.description}}
    <section class="border-t pt-6">
        <h2 class="heading-3">
            Description
        </h2>

        <p class="block text w-full mt-4">
            {{ this.description }}
        </p>
    </section>
{{/if}}
